In [1]:
import pandas as pd
# 读取Excel文件的四个sheet
sheet_names = ['001明细数据', '002明细数据', '003明细数据', '004明细数据','异常件18-23']
dfs = []

for sheet_name in sheet_names:
    df = pd.read_csv(f'{sheet_name}.csv',encoding ='gb18030')  # 使用f-string来构建文件名
    df['日期'] = pd.to_datetime(df['日期'], format='%Y%m%d').dt.strftime('%Y-%m-%d')
    df["month"] = pd.to_datetime(df['日期']).dt.month.astype(int)
    df = df[df['日期']>='2023-01-01']
    df['批次']=sheet_name
    dfs.append(df)
pro_kpi_df = pd.concat(dfs, ignore_index=True)
sku_info = pro_kpi_df.groupby(['批次','零件号','month']).size().reset_index(name='sku_mm_values')
month_info = pro_kpi_df.groupby(['批次','month']).size().reset_index(name='mm_values')
result_bety = pd.merge(sku_info,month_info,on = ['批次','month'],how= 'left')
result_bety['Proportion'] = result_bety['sku_mm_values'] / result_bety['mm_values']
result_bety.head()

/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/17597065.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{sheet_name}.csv',encoding ='gb18030')  # 使用f-string来构建文件名
/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/17597065.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['批次']=sheet_name

        批次         零件号  month  sku_mm_values  mm_values  Proportion
0  001明细数据  04E971858C      2              1       9551    0.000105
1  001明细数据  04E971858C      3              1       8322    0.000120
2  001明细数据  04E971858C      4              1       6909    0.000145
3  001明细数据  04E971858C      5              1       7527    0.000133
4  001明细数据  04E971858C      7              1       7275    0.000137

In [2]:
import pandas as pd

# 读取Excel文件的四个sheet
sheet_names = ['rate_001', 'rate_002', 'rate_003', 'rate_004','rate_yichang']
dfs = []

for sheet_name in sheet_names:
    df = pd.read_csv(f'{sheet_name}.csv',encoding ='gb18030')  # 使用f-string来构建文件名
    new_df = df.groupby(['零件号','month','需求频次abc分类'])['real_values','pred_values'].sum().reset_index()
    new_df['批次']=sheet_name
    dfs.append(new_df)

# 将所有DataFrame合并为一个DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/757154737.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_df = df.groupby(['零件号','month','需求频次abc分类'])['real_values','pred_values'].sum().reset_index()
/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/757154737.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_df = df.groupby(['零件号','month','需求频次abc分类'])['real_values','pred_values'].sum().reset_index()
/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/757154737.py:8: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{sheet_name}.csv',encoding ='gb18030')  # 使用f-string来构建文件名
/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/757154737.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_df = df.groupby(['零件号','month','需求频次abc分类'])['real_values','pred_values'].sum().reset_index()
/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/757154737.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_df = df.groupby(['零件号','month','需求频次abc分类'])['real_values','pred_values'].sum().reset_index()
/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/757154737.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  new_df = df.groupby(['零件号','month','需求频次abc分类'])['real_values','pred_values'].sum().reset_index()

In [3]:
poc_yichang = pd.read_csv('svg预测异常件.csv',encoding ='utf-8')
poc_normal = pd.read_csv('svg预测.csv',encoding ='gb18030')
poc_normal_01 = pd.read_csv('01svg预测.csv',encoding ='utf-8')

new_df = poc_yichang.append([poc_normal,poc_normal_01])
new_df['月份'] = pd.to_datetime(new_df['月份'], format='%Y%m').dt.strftime('%Y-%m-%d')
new_df["月份"] = pd.to_datetime(new_df['月份']).dt.month.astype(int)
output =pd.merge(new_df,combined_df,left_on =['零件代码','月份'],right_on =['零件号','month'],how ='left')
output.head()

/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/888227089.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = poc_yichang.append([poc_normal,poc_normal_01])

,零件代码,月份,预测,零件号,month,需求频次abc分类,real_values,pred_values,批次
0,161953235A,4,0.000000,161953235A,4.0,F,0.0,0.000000,rate_yichang
1,18D962125D 1QB,7,21.694765,18D962125D 1QB,7.0,B,0.0,0.000000,rate_yichang
2,19D941036D,6,31.625685,19D941036D,6.0,B,23.0,20.491961,rate_yichang
3,1KD955651B,2,1381.503702,1KD955651B,2.0,A,1774.0,1353.911697,rate_yichang
4,1KD955651B,7,871.862069,1KD955651B,7.0,A,3.0,7.560601,rate_yichang

In [4]:
for i in ['预测','real_values']:
    output[i]= [1 if x ==0 else x for x in output[i]]
output['mape'] = (abs(output['real_values'] - output['预测']) / output['real_values']) 
output.head()

,零件代码,月份,预测,零件号,month,需求频次abc分类,real_values,pred_values,批次,mape
0,161953235A,4,1.000000,161953235A,4.0,F,1.0,0.000000,rate_yichang,0.000000
1,18D962125D 1QB,7,21.694765,18D962125D 1QB,7.0,B,1.0,0.000000,rate_yichang,20.694765
2,19D941036D,6,31.625685,19D941036D,6.0,B,23.0,20.491961,rate_yichang,0.375030
3,1KD955651B,2,1381.503702,1KD955651B,2.0,A,1774.0,1353.911697,rate_yichang,0.221249
4,1KD955651B,7,871.862069,1KD955651B,7.0,A,3.0,7.560601,rate_yichang,289.620690

In [5]:
replacement_dict = {
    '001明细数据': 'rate_001',
    '002明细数据': 'rate_002',
    '003明细数据': 'rate_003',
    '004明细数据': 'rate_004',
    '异常件18-23': 'rate_yichang'
}

result_bety['批次'] = result_bety['批次'].replace(replacement_dict)
result_bety.head()

         批次         零件号  month  sku_mm_values  mm_values  Proportion
0  rate_001  04E971858C      2              1       9551    0.000105
1  rate_001  04E971858C      3              1       8322    0.000120
2  rate_001  04E971858C      4              1       6909    0.000145
3  rate_001  04E971858C      5              1       7527    0.000133
4  rate_001  04E971858C      7              1       7275    0.000137

In [6]:
combined_df = pd.merge(output,result_bety[['批次','零件号','month','Proportion','sku_mm_values']],
                       on = ['零件号','month'],how ='left')
combined_df['Proportion'].fillna('0.000001',inplace =True)
combined_df['mape'].fillna('0.000001',inplace =True)
combined_df['Proportion'] = combined_df['Proportion'].astype('float')
combined_df['mape'] = combined_df['mape'].astype('float')

combined_df = combined_df.drop(["批次_y"],axis=1)

combined_df.rename(columns ={'批次_x':'批次'},inplace =True)

/Users/kaka/opt/anaconda3/lib/python3.9/site-packages/pandas/core/reshape/merge.py:1204: RuntimeWarning: invalid value encountered in cast
  if not (lk == lk.astype(rk.dtype))[~np.isnan(lk)].all():

In [7]:
combined_df.head()

,零件代码,月份,预测,零件号,month,需求频次abc分类,real_values,pred_values,批次,mape,Proportion,sku_mm_values
0,161953235A,4,1.000000,161953235A,4.0,F,1.0,0.000000,rate_yichang,0.000000,0.000001,NaN
1,18D962125D 1QB,7,21.694765,18D962125D 1QB,7.0,B,1.0,0.000000,rate_yichang,20.694765,0.006399,11.0
2,19D941036D,6,31.625685,19D941036D,6.0,B,23.0,20.491961,rate_yichang,0.375030,0.015374,23.0
3,1KD955651B,2,1381.503702,1KD955651B,2.0,A,1774.0,1353.911697,rate_yichang,0.221249,0.296134,743.0
4,1KD955651B,7,871.862069,1KD955651B,7.0,A,3.0,7.560601,rate_yichang,289.620690,0.181501,312.0

In [8]:
# 计算mape,wmape

combined_df['fwmape_values']=combined_df['mape']*combined_df['sku_mm_values']
fwmape_info = combined_df.groupby(['批次','month'])['sku_mm_values','fwmape_values'].sum().reset_index()
fwmape_info.head()
fwmape_info['fwmape'] = 1-  fwmape_info['fwmape_values'] / fwmape_info['sku_mm_values']




mape_info = combined_df.groupby(['批次','month'])['mape'].mean().reset_index()
wmape_info  = combined_df.groupby(['批次','month'])['real_values','预测'].sum().reset_index()
wmape_info['wmape'] = (abs(wmape_info['real_values'] - wmape_info['预测']) / wmape_info['real_values']) 

mape_tur_info = pd.merge(mape_info,wmape_info,on = ['批次','month'],how= 'left')

mape_thr_info = pd.merge(mape_tur_info,fwmape_info,on = ['批次','month'],how= 'left')

mape_thr_info.head()

/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/340310588.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fwmape_info = combined_df.groupby(['批次','month'])['sku_mm_values','fwmape_values'].sum().reset_index()
/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/340310588.py:12: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wmape_info  = combined_df.groupby(['批次','month'])['real_values','预测'].sum().reset_index()

,批次,month,mape,real_values,预测,wmape,sku_mm_values,fwmape_values,fwmape
0,rate_001,1.0,1.692312,17434.0,32122.456650,0.842518,6552.0,3238.803986,0.505677
1,rate_001,2.0,1.080407,24410.0,27397.846955,0.122403,9520.0,3241.247193,0.659533
2,rate_001,3.0,1.244921,29026.0,30070.145298,0.035973,8314.0,3171.331219,0.618555
3,rate_001,4.0,1.366131,16533.0,29307.124316,0.772644,6907.0,3348.342822,0.515225
4,rate_001,5.0,1.554958,18232.0,28691.601138,0.573695,7510.0,3536.059901,0.529153

In [9]:
mape_thr_info.to_csv('111.csv',encoding ='gb18030')

In [10]:
#计算需求频次abc分类mape，wmape
grouped_mape_info = combined_df.groupby(['month','需求频次abc分类'])['mape'].mean().reset_index()
grouped_wmape_info  = combined_df.groupby(['需求频次abc分类','month'])['real_values','预测'].sum().reset_index()
grouped_wmape_info['wmape'] = (abs(grouped_wmape_info['real_values'] - grouped_wmape_info['预测']) / grouped_wmape_info['real_values'])
grouped_mape_tur_info = pd.merge(grouped_mape_info,grouped_wmape_info,on = ['需求频次abc分类','month'],how= 'left')

grouped_fwmape_info = combined_df.groupby(['需求频次abc分类','month'])['sku_mm_values','fwmape_values'].sum().reset_index()
grouped_fwmape_info['fwmape'] = 1-  grouped_fwmape_info['fwmape_values'] / grouped_fwmape_info['sku_mm_values']

group_mape_thr_info = pd.merge(grouped_mape_tur_info,grouped_fwmape_info,on = ['需求频次abc分类','month'],how= 'left')

group_mape_thr_info.head()

/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/2284019425.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_wmape_info  = combined_df.groupby(['需求频次abc分类','month'])['real_values','预测'].sum().reset_index()
/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_33076/2284019425.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_fwmape_info = combined_df.groupby(['需求频次abc分类','month'])['sku_mm_values','fwmape_values'].sum().reset_index()

,month,需求频次abc分类,mape,real_values,预测,wmape,sku_mm_values,fwmape_values,fwmape
0,1.0,A,0.435208,156284.0,200514.788247,0.283015,18982.0,5242.164433,0.723835
1,1.0,B,1.386932,13216.0,27840.568439,1.106581,6035.0,4246.941055,0.296282
2,1.0,C,1.955528,1073.0,2369.231742,1.208044,1033.0,1423.796049,-0.378312
3,1.0,D,2.212904,381.0,921.687055,1.419126,493.0,676.130134,-0.371461
4,1.0,E,1.964495,483.0,1318.145207,1.729079,481.0,539.338942,-0.121287

In [11]:
group_mape_thr_info.to_csv('112.csv',encoding = 'gb18030')

In [12]:
# 计算mape，wmape 占比情况

# 定义区间
import matplotlib.pyplot as plt
import seaborn as sns

bins = [0, 0.10, 0.30, 0.50, 1.00, 100000]

# 使用cut函数将数据分成不同区间
combined_df['ScoreRange'] = pd.cut(combined_df['mape'], bins=bins, labels=['0-10%', '10%-30%', '30%-50%', '50%-100%', '>100%'],right =False)

combined_df['ScoreRange'].replace('NaN','0',inplace =True)
# 计算每个区间中的数据数量

grouped = combined_df.groupby(['month','ScoreRange']).size().reset_index(name='sku_mm_values')
# 计算每个月份内的总样本数
monthly_counts = combined_df.groupby(['month']).size().reset_index(name='mm_values')

# 合并统计结果
result = pd.merge(grouped, monthly_counts, on=['month'],how = 'left')

# 计算占比
result['Proportion'] = result['sku_mm_values'] / result['mm_values']
result.tail(10)

/Users/kaka/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

    month ScoreRange  sku_mm_values  mm_values  Proportion
25    6.0      0-10%            336       3059    0.109840
26    6.0    10%-30%            479       3059    0.156587
27    6.0    30%-50%            362       3059    0.118339
28    6.0   50%-100%           1239       3059    0.405034
29    6.0      >100%            643       3059    0.210199
30    7.0      0-10%            158       3074    0.051399
31    7.0    10%-30%            248       3074    0.080677
32    7.0    30%-50%            236       3074    0.076773
33    7.0   50%-100%           1097       3074    0.356864
34    7.0      >100%           1335       3074    0.434288

In [13]:
result.to_csv('113.csv',encoding ='gb18030')