In [1]:
import pandas as pd 
new_2021 = pd.read_csv('202101-202106参数new.csv',encoding='gb18030')
new_2023 = pd.read_csv('202301-202303参数new.csv',encoding='gb18030')
full_data = new_2021.append(new_2023)

In [2]:
import pandas as pd 
import warnings 
warnings.filterwarnings("ignore") 
full_data = pd.read_excel('202310参数.xlsx')

,零件号,仓库,上线月份,1,2,3,4,5,6,ABC需求频次分类,ABC价格分类,ABC需求数量分类,'计划员',组装包,被替代件,替代件
0,03H145701L,1100-3,202309,1,NaN,NaN,NaN,NaN,NaN,F,A,SLOW,46,NaN,NaN,替代件
1,PAA02303120,5001,202307,1,1.0,NaN,NaN,NaN,NaN,F,A,SLOW,NaN,组装包,NaN,NaN
2,4N0959777D 4PK,1100-3,202309,2,NaN,NaN,NaN,NaN,NaN,F,B,SLOW,11,NaN,被替代件,NaN
3,89D853190 1VO,1100-3,202308,1,NaN,NaN,NaN,NaN,NaN,F,B,SLOW,21,NaN,NaN,NaN
4,079905110R,1100-3,202308,1,1.0,NaN,NaN,NaN,NaN,D,B,SLOW,46,NaN,NaN,替代件

In [3]:
full_data.columns=['零件号', '仓库', '上线月份', '1', '2', '3', '4', '5', '6', 'ABC需求频次分类',
       'ABC价格分类', 'ABC需求数量分类', '计划员', '组装包', '被替代件', '替代件']

In [4]:
def month_fillna(data):
    for i in ['1','2','3','4','5','6']:
        data[i].fillna(0,inplace =True)
    return data

full_data = month_fillna(full_data)

full_data.head()

,零件号,仓库,上线月份,1,2,3,4,5,6,ABC需求频次分类,ABC价格分类,ABC需求数量分类,计划员,组装包,被替代件,替代件
0,03H145701L,1100-3,202309,1,0.0,0.0,0.0,0.0,0.0,F,A,SLOW,46,NaN,NaN,替代件
1,PAA02303120,5001,202307,1,1.0,0.0,0.0,0.0,0.0,F,A,SLOW,NaN,组装包,NaN,NaN
2,4N0959777D 4PK,1100-3,202309,2,0.0,0.0,0.0,0.0,0.0,F,B,SLOW,11,NaN,被替代件,NaN
3,89D853190 1VO,1100-3,202308,1,0.0,0.0,0.0,0.0,0.0,F,B,SLOW,21,NaN,NaN,NaN
4,079905110R,1100-3,202308,1,1.0,0.0,0.0,0.0,0.0,D,B,SLOW,46,NaN,NaN,替代件

In [5]:
mask = ~(full_data['替代件'] == '替代件') & ~(full_data['组装包'] == '组装包') & ~full_data['计划员'].isin(['004', '005', '007'])  
full_data = full_data[mask]

In [6]:


#第二个月预测方式
# 1. 首月需求<=3的新零件，后续月份直接赋值为0
# 2. ABC需求数量分类 为 slow的新零件，后续月份值赋值0
# 3. 对于首月需求>3,且ABC价格分类 为 【ACD】的新零件，
#     a. 后续月份值默认下降
#     b. 下降幅度分别设为0.86
# 4. 对于首月需求>3,且ABC价格分类 不为 【ACD】的新零件设为首月的1.13


# 第3个月预测方式
#     a.比对前两个月的实际需求，如果为正增长，则认为继续正增长，预测为首月的1.3，如果为负增长，则为首月的0.7
# 后续n个月预测方式
#     比对前两个月的实际需求，如果为正增长，则认为继续正增长，预测为上上月的1.3，如果为负增长，则为上上月的0.7

In [7]:
#第二个月预测

# pred_datasets=full_data[['零件名称','零件号','仓库','上线月份','ABC需求数量分类','ABC价格分类','1','2','']]

# 定义一个函数来计算新列的值
def calculate_new_column(row):
    if row['1'] <= 3 or row['ABC需求数量分类'] == 'SLOW':
        return 0
    elif row['ABC价格分类'] in ['A', 'C','D']:
        return row['1'] * 0.2
    
    elif row['1'] > 3 and row['1'] <= 10:
        return row['1'] * 0.5
    
    elif row['1'] > 10 and row['1'] <= 50:
        return row['1'] * 0.3
    elif row['1'] > 50 and row['1'] <= 100:
        return row['1'] * 0.2
    else:
        return row['1'] * 0.1

# 使用apply函数将新列添加到DataFrame中
full_data['pred_2'] = full_data.apply(calculate_new_column, axis=1)

In [8]:
# 使用条件表达式创建新列
full_data['pred_3'] = full_data.apply(lambda row: row['1'] * 0.5 if row['1']>row['2'] else row['1'] * 1, axis=1)

# 使用条件表达式创建新列
full_data['pred_4'] = full_data.apply(lambda row: row['2'] * 0.7 if row['2'] > row['3'] else row['2'] * 1.13, axis=1)

# 使用条件表达式创建新列
full_data['pred_5'] = full_data.apply(lambda row: row['3'] * 0.7 if row['3'] > row['4'] else row['3'] * 1.13, axis=1)

# 使用条件表达式创建新列
full_data['pred_6'] = full_data.apply(lambda row: row['4'] * 0.7 if row['4'] > row['5'] else row['4'] * 1.13, axis=1)

for i in ['pred_2','pred_3','pred_4','pred_5','pred_6','6','2','3','4','5']:
    full_data[i] = [1.01 if x ==0 else x for x in full_data[i]]
    
full_data['2_mape'] = abs(full_data['2']-full_data['pred_2'])/full_data['2']
full_data['3_mape'] = abs(full_data['3']-full_data['pred_3'])/full_data['3']
full_data['4_mape'] = abs(full_data['4']-full_data['pred_4'])/full_data['4']
full_data['5_mape'] = abs(full_data['5']-full_data['pred_5'])/full_data['5']
full_data['6_mape'] = abs(full_data['6']-full_data['pred_6'])/full_data['6']
full_data[['2_mape','3_mape','4_mape','5_mape','6_mape']].mean()

2_mape    0.326830
3_mape    1.490614
4_mape    1.289283
5_mape    1.063902
6_mape    0.049040
dtype: float64

In [9]:
full_data.替代件.unique()

array([nan], dtype=object)

In [19]:
full_data.to_csv('1111.csv',encoding  ='gb18030')

In [15]:
# 计算mape，wmape 占比情况

# 定义区间
import matplotlib.pyplot as plt
import seaborn as sns

bins = [0, 0.10, 0.30, 0.50, 1.00, 100000]
test = full_data.copy()
# 使用cut函数将数据分成不同区间
mape_info = pd.DataFrame()
for i in ['2_mape','3_mape','4_mape','5_mape','6_mape']:
    test[i] = pd.cut(test[i], bins=bins, labels=['0-10%', '10%-30%', '30%-50%', '50%-100%', '>100%'],right =False)
    test[i].replace('NaN','0',inplace =True)
# 计算每个区间中的数据数量
    print('新品第',i.split('_')[0],'月误差')
    df = test[i].value_counts(normalize=True).reset_index().sort_values(by=['index'])
    mape_info = pd.concat([mape_info, df.reset_index()], axis=1)  # axis=1 表示合并列  
mape_info

新品第 2 月误差
新品第 3 月误差
新品第 4 月误差
新品第 5 月误差
新品第 6 月误差

,level_0,index,2_mape,level_0,index,3_mape,level_0,index,4_mape,level_0,index,5_mape,level_0,index,6_mape
0,0,0-10%,0.841605,1,0-10%,0.215417,0,0-10%,0.741288,0,0-10%,0.828933,0,0-10%,0.957233
1,4,10%-30%,0.000528,4,10%-30%,0.002640,3,10%-30%,0.030095,3,10%-30%,0.000528,3,10%-30%,0.000000
2,2,30%-50%,0.048574,3,30%-50%,0.037487,2,30%-50%,0.110348,1,30%-50%,0.088173,1,30%-50%,0.027983
3,1,50%-100%,0.102429,0,50%-100%,0.675290,4,50%-100%,0.000528,4,50%-100%,0.000000,4,50%-100%,0.000000
4,3,>100%,0.006864,2,>100%,0.069166,1,>100%,0.117740,2,>100%,0.082365,2,>100%,0.014784

In [12]:
full_data

,零件号,仓库,上线月份,1,2,3,4,5,6,ABC需求频次分类,...,pred_2,pred_3,pred_4,pred_5,pred_6,2_mape,3_mape,4_mape,5_mape,6_mape
2,4N0959777D 4PK,1100-3,202309,2,1.01,1.01,1.01,1.01,1.01,F,...,1.01,1.0,1.01,1.01,1.01,0.000000,0.009901,0.000000,0.0,0.0
3,89D853190 1VO,1100-3,202308,1,1.01,1.01,1.01,1.01,1.01,F,...,1.01,0.5,1.01,1.01,1.01,0.000000,0.504950,0.000000,0.0,0.0
7,4K0881617,1100-3,202309,1,1.01,1.01,1.01,1.01,1.01,F,...,1.01,0.5,1.01,1.01,1.01,0.000000,0.504950,0.000000,0.0,0.0
8,03H145299E,1100-3,202308,1,1.01,1.01,1.01,1.01,1.01,B,...,1.01,0.5,1.01,1.01,1.01,0.000000,0.504950,0.000000,0.0,0.0
9,5QJ201160,1000-1,202309,1,1.01,1.01,1.01,1.01,1.01,F,...,1.01,0.5,1.01,1.01,1.01,0.000000,0.504950,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2653,3QF615312,1100-3,202308,1,1.01,1.01,1.01,1.01,1.01,B,...,1.01,0.5,1.01,1.01,1.01,0.000000,0.504950,0.000000,0.0,0.0
2656,06Q127025Q,1000-1,202308,2,3.00,1.01,1.01,1.01,1.01,F,...,1.01,2.0,2.10,1.01,1.01,0.663333,0.980198,1.079208,0.0,0.0
2657,3GB971121AG,1000-1,202309,1,1.01,1.01,1.01,1.01,1.01,F,...,1.01,0.5,1.01,1.01,1.01,0.000000,0.504950,0.000000,0.0,0.0
2658,30D888405A DOP,1000-1,202308,1,1.01,1.01,1.01,1.01,1.01,F,...,1.01,0.5,1.01,1.01,1.01,0.000000,0.504950,0.000000,0.0,0.0
2661,5NG881805AHZWU,1000-1,202309,1,1.01,1.01,1.01,1.01,1.01,F,...,1.01,0.5,1.01,1.01,1.01,0.000000,0.504950,0.000000,0.0,0.0

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns
def compare_two_col(r,p):
    
    new_df = full_data[[r,p]]
    new_df =new_df[new_df[r]!=1.01]
    new_df['mape'] = abs(new_df[p]-new_df[r])/new_df[r]
    bins = [0, 0.10, 0.30, 0.50, 1.00, 100000]
# 使用cut函数将数据分成不同区间
    new_df['mape_rate'] = pd.cut(new_df['mape'], bins=bins, labels=['0-10%', '10%-30%', '30%-50%', '50%-100%', '>100%'],right =False)
    new_df['mape_rate'].replace('NaN','0',inplace =True)
# 计算每个区间中的数据数量
    print(new_df['mape'].mean())
    print(new_df['mape_rate'].value_counts(normalize=True).reset_index().sort_values(by=['index']))
    
    
print('2月份')
compare_two_col('2','pred_2')
print('3月份')

compare_two_col('3','pred_3')
print('4月份')

compare_two_col('4','pred_4')
print('5月份')

compare_two_col('5','pred_5')
print('6月份')

compare_two_col('6','pred_6')

2月份
0.45382013486548084
      index  mape_rate
0     0-10%   0.406122
4   10%-30%   0.002041
2   30%-50%   0.187755
1  50%-100%   0.395918
3     >100%   0.008163
3月份
0.7830214125489787
      index  mape_rate
1     0-10%   0.163580
4   10%-30%   0.015432
3   30%-50%   0.058642
0  50%-100%   0.691358
2     >100%   0.070988
4月份
6.096458504801094
      index  mape_rate
2     0-10%   0.061728
3   10%-30%   0.024691
1   30%-50%   0.074074
4  50%-100%   0.012346
0     >100%   0.827160
5月份
nan
      index  mape_rate
0     0-10%        NaN
1   10%-30%        NaN
2   30%-50%        NaN
3  50%-100%        NaN
4     >100%        NaN
6月份
nan
      index  mape_rate
0     0-10%        NaN
1   10%-30%        NaN
2   30%-50%        NaN
3  50%-100%        NaN
4     >100%        NaN